.footer__component {
    display: flex;
    justify-content: center;
    grid-column: 6/8;
    margin-top: 10px;
    a {
        color: teal;
        margin-left: 5px;
    }
}

.addiction__footer {
    width: 80%;
    margin: 20px 0 0 0;
}