.cartCreateSearchBar {
    display: flex;
    margin: 10px 0;
    height: 45px;
    justify-content: center;
    grid-column: 1/13;
    grid-row: 1/13;
    background: white;
}

.items {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    strong {
        margin-left: auto;
        margin-right: 15px;
    }
    button {
        margin-right: 15px;
    }
}

.search {
    display: grid;
}

@media screen and (min-width: 390px) and (max-width: 1280px)  {
    .items {
        display: flex;
        flex-direction: column;
        strong {
            margin: 0;
        }
        button {
            margin: 0;
        }
    }
}