.pages__component {
    display: flex;
    justify-content: center;
    grid-column: 6/8;
    margin-top: 10px;
}

.page {
    border: 1px solid teal;
    padding: 5px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.page__current {
    border: 1px solid red;
    padding: 5px 15px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (min-width: 390px) and (max-width: 1280px)  {
    .pages__component {
        flex-wrap: wrap;
    }
}